public/uploads/
public/uploads/imagenes/franquicia/actanacimiento
public/uploads/imagenes/franquicia/comprobante
public/uploads/imagenes/franquicia/curp
public/uploads/imagenes/franquicia/fotos
public/uploads/imagenes/franquicia/hacienda
public/uploads/imagenes/franquicia/identificacion
public/uploads/imagenes/franquicia/rfc
public/uploads/imagenes/
public/uploads/imagenes/franquicia/
/.idea/
